body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

h1{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App {
  text-align: center;
  background-image: url(./back-grd.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;

}
